/* Styling for the section */
#visual {
    background: linear-gradient(to right, #ffffff, #ffffff); /* Gradient background */
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

#visual:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Hover effect for shadow */
}

#visual p {
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    text-decoration: underline;
}

#visual button {
    background-color: #780202;
    color: white;
    padding: 5px 50px;
    border-radius: 5px;
    font-weight: 400;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    margin-top: 5px;
    transition: transform 0.2s ease-in-out;
}

#visual button:hover {
    transform: scale(1.1); /* Hover effect to make the button grow */
}

/* Styling for the footer */
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 50px;
    font-size: 1rem;
}

footer a {
    color: #f4f4f4;
    text-decoration: none;
    font-weight: 400;
}

footer a:hover {
    color: #edbbbb;
    text-decoration: underline;
}